{% set route_name = app.request.attributes.get('_route') %}
<nav class="side-nav">
    <a href="{{ path('home') }}" class="intro-x flex items-center pl-5 pt-4">
        <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="{{ asset('assets/images/logo.svg') }}">
        <span class="hidden xl:block text-white text-lg ml-3"> WeBe<span class="font-medium">Management</span> </span>
    </a>
    <div class="side-nav__devider my-6"></div>
    <ul>
        <li>
            <a href="{{ path('list_client') }}" class="side-menu {% if route_name == 'list_client'%}side-menu--active{% endif %}">
                <div class="side-menu__icon"> <i class="fas fa-user fa-2x"></i> </div>
                <div class="side-menu__title"> Clients </div>
            </a>
        </li>
        <li>
            <a href="{{ path('liste_projet') }}" class="side-menu {% if route_name == 'liste_projet'%}side-menu--active{% endif %}">
                <div class="side-menu__icon"> <i class="fas fa-folder fa-2x"></i> </div>
                <div class="side-menu__title"> Projets </div>
            </a>
        </li>
        <li>
            <a href="{{ path('liste_devis') }}" class="side-menu {% if route_name == 'liste_devis'%}side-menu--active{% endif %}">
                <div class="side-menu__icon"> <i class="fas fa-dollar-sign fa-2x"></i> </div>
                <div class="side-menu__title"> Factures </div>
            </a>
        </li>
        <li>
            <a href="{{ path('list_tache') }}" class="side-menu {% if route_name == 'tache'%}side-menu--active{% endif %}">
                <div class="side-menu__icon"> <i class="fas fa-clipboard-check fa-2x"></i> </div>
                <div class="side-menu__title"> Tâches </div>
            </a>
        </li>


    </ul>
</nav>