{% extends 'views/layout.html.twig' %}

{% block body %}
<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
       Liste des Clients
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <a href="{{ path('new_client') }}"><button class="button text-white bg-theme-1 shadow-md mr-2"><p class="fas fa-plus"></p>      Ajouter un client
            </button></a>
    </div>
</div>

<div class="intro-y datatable-wrapper box p-5 mt-5">
    <table id="data-table" class="table table-report table-report--bordered display datatable w-full">
        <thead>
        <tr>
            <th class="border-b-2 whitespace-no-wrap">ID</th>
            <th class="border-b-2 whitespace-no-wrap">Entreprise</th>
            <th class="border-b-2 whitespace-no-wrap">Nom</th>
            <th class="border-b-2 whitespace-no-wrap">Prénom</th>
            <th class="border-b-2 whitespace-no-wrap">Mail</th>
            <th class="border-b-2 whitespace-no-wrap">Tel</th>
            <th class="border-b-2 whitespace-no-wrap">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">#{{ client.id }}</div>
                </td>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">{{ client.firme }}</div>
                </td>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">{{ client.firstname }}</div>
                </td>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">{{ client.lastname }}</div>
                </td>
                <td class="border-b">
                    <div class="font-medium whitespace-no-wrap">{{ client.email }}</div>
                </td>
                <td class="text-center border-b">{{ client.phone }}</td>
                <td class="border-b w-5">
                    <div class="flex sm:justify-center items-center">
                        <a class="flex items-center mr-3" href="{{ path('edit_client', {'id': client.id}) }}"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Editer </a>
                        <form style="display:inline-block" method="post"
                              action="{{ path('delete_client', {'id':client.id}) }}"
                              onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce client ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="flex items-center text-theme-6">
                                <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Supprimer
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}